<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="register" action="/registerUser" method="POST">
    <input type="text" name="username" placeholder="Username..." required>
    <input type="text" name="pw" placeholder="Password..." required>
    <input type="text" name="firstName" placeholder="First name..." required>
    <input type="text" name="lastName" placeholder="Last name..." required>
    <input type="submit" class="button" value="Register">
</form>

</body>
</html>